.product-col {
    text-align: center;
    border-style: none;
}

.panel-default {
    height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.panel-heading {
    padding: 3px;
}

.agro-row {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.table-col {
    margin: auto;
}