.image {
    width: 90%;
}

.text {
    text-align: left;
}

.my-row {
    margin-top: 10px;
}

.my-last-col {
    text-align: end;
}

@media (max-width: 996px) {
    .image {
        width: 150px;
    }

    .my-last-col {
        text-align: center;
    }
}